* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.wrapper {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    border: 2px solid black;
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
}

.input-box {
    margin-bottom: 15px;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

button {
    
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.btnsignup {
    background-color: blue;
    color: white;
}

.btnsignup:hover {
    background-color: rgb(34, 34, 241);
}

.login {
    margin-top: 15px;
    font-size: 14px;
}

.login a {
    color: black;
    text-decoration: none;
}

.login a:hover {
    color: black;
    text-decoration: underline;
}


button[type="button"] {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 16px;
}

.btnfb {
    
    background-color: blue;
    color: white;
}

.btnfb:hover {
    background-color: rgb(45, 45, 246);
}

.btngoogle {
    background-position: left center;
    background-color: orange;
    color: white;
}

.btngoogle:hover {
    background-color:rgb(248, 182, 60);
    color: white;
}
